$color_1: #000;
$color_2: #f74843;
$color_3: #026d8d;
$color_4: #fff;
$background-color_1: #03a7d6;
$background-color_2: #000;

.carousel {
	overflow: hidden;
	position: relative;
}
.carousel-cell {
	width: 100%;
	.caption {
		width: 15em;
		line-height: 1.1em;
		opacity: 0.8;
		right: 1em;
		bottom: 0em;
		position: absolute;
	}
}

.flickity-enabled {
	&:focus {
		outline: none;
	}
}
.flickity-page-dots {
	position: absolute;
	width: 100%;
	height: 2.5em;
	bottom: -25px;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	line-height: 1;
	.dot {
		display: inline-block;
		width: 0.6em;
		height: 0.6em;
		margin: 0 8px;
		background: transparent;
		border-radius: 50%;
		opacity: 0.25;
		cursor: pointer;
		border: 2px solid #000;
		transition: opacity 0.2s;
		&:hover {
			opacity: 0.75;
		}
	}
	.dot.is-selected {
		background: #000;
	}
}
.flickity-rtl {
	.flickity-page-dots {
		direction: rtl;
	}
}

@media (max-width: 819px) {
	.flickity-viewport {
		margin-bottom: 1.5em;
	}
	.flickity-page-dots {
		display: flex;
		justify-content: space-between;
		align-content: stretch;
		gap: 0.2em;
		bottom: 0em;
		height: 1em;
		.dot {
			width: 100%;
			border-radius: 0;
			margin: 0;
			padding: 0;
			border: 0;
			background-color: $background-color_2;
			height: 0.2em;
		}
		.dot.is-selected {
			opacity: 0.5;
		}
	}
	.carousel-cell {
		.caption {
			width: auto;
			right: 0;
			height: 3em;
			padding-left: 2em;
			padding-right: 2em;
			position: relative;
			&:before {
				display: none;
			}
		}
	}
}



