$color_1: #000;
$color_2: #f74843;
$color_3: #026d8d;
$color_4: #fff;
$background-color_1: #03a7d6;
$background-color_2: #000;


.steam_section {
	background-color: $background-color_1;
	padding: 50px 0;
	width: calc( 100% + 10vw );
	margin-left: -5vw;
	.steam_logo_about {
		width: 60%;
		height: auto;
		display: block;
		margin: 0 auto;
	}
}
.steam_stat {
	h4 {
		color: $color_3;
		font-weight: 700;
		text-align: center;
	}
	h3 {
		font-weight: 700;
		color: $color_4;
		font-size: 10vw;
		text-align: center;
	}
}


@media (min-width: 820px) {
	.steam_section {
		>.row {
			width: 100%;
			margin: 0 5vw;
		}
		.steam_stat {
			padding-top: 45px;
		}
		.steam_logo_about {
			width: 100%;
			margin: 20px auto 50px;
		}
	}
	.steam_stat {
		h4 {
			font-size: 2vw;
			text-align: left;
		}
		h3 {
			font-size: 4vw;
			text-align: left;
		}
	}
}
@media (min-width: 1200px) {
	.steam_section {
		width: 1360px;
		margin-left: -80px;
		>.row {
			margin: 0 80px;
		}
	}
}
@media (min-width: 668px) {
	.steam_section {
		padding: 25px 0 0;
	}
}
@media (min-width: 1600px) {
	.steam_stat {
		h4 {
			font-size: 30px;
		}
		h3 {
			font-size: 52px;
		}
	}
}
